Repository cloudnativerioja/cluster-applications, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, infrastructure, documentation, golang, secrets, ArgoCD

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

infrastructure:
  - "**/*.tf"

documentation:
  - "**/*.md"

golang:
  - "**/*.go"

secrets:
  - "**/*encrypted.yaml"

ArgoCD:
  - "**/*.yaml"

Feat: bump argo to the last version
  applications/core/argo-cd/argocd.yaml
Labels: ArgoCD

Feat: restructure folders to allow crds join to the party
  crds/core/argo-cd/sso-secret.encrypted.yaml
  crds/core/cert-manager/clusterissuer.yaml
  crds/core/external-dns/cloudflare-api-token.yaml
  crds/core/monitoring/grafana/dashboards/exporter-full-dashboard.yaml
  crds/core/monitoring/grafana/dashboards/k3s-dashboard.yaml
  crds/core/monitoring/grafana/dashboards/loki-logs-dashboard.yaml
  crds/core/monitoring/grafana/dashboards/trivy-vulnerabilities-dashboard.yaml
  crds/core/monitoring/grafana/datasources.yaml
  crds/core/monitoring/grafana/github-sso-secred.encrypted.yaml
  crds/core/security/kyverno/policies/mutate/default-labels.yaml
  crds/core/security/kyverno/policies/validation/latest-tag.yaml
  crds/core/security/kyverno/policies/validation/limits-requests.yaml
  crds/core/security/kyverno/policies/validation/no-default-ns.yaml
Labels: secrets, ArgoCD

Fix: remove ingressroute file
  README.md
  applications/core/namespace.yaml
  applications/core/traefik/ingressroute.yaml
Labels: documentation, ArgoCD

Feat: remove CPU limits and set the same memory ones
  applications/monitoring/grafana/grafana-operator.yaml
  applications/monitoring/prometheus/kube-prometheus.yaml
  applications/security/trivy/trivy-operator.yaml
  crds/core/security/kyverno/policies/validation/limits-requests.yaml
Labels: ArgoCD

Fix: remove argocd application
  applications/core/argo-cd/argocd.yaml
Labels: ArgoCD

Feat: add argo to pull himself
  applications/core/argocd/argocd.yaml
Labels: ArgoCD

Fix: add our own keys and encrypt cloudflare-token
  .github/public-sealed.crt
  crds/core/external-dns/cloudflare-api-token.yaml
Labels: ArgoCD

Fix: remove linter errors
  crds/core/external-dns/cloudflare-api-token.yaml
Labels: ArgoCD

Fix: add new secrets encrypted
  .gitignore
  crds/core/external-dns/cloudflare-api-key.encrypted.yaml
  crds/core/external-dns/cloudflare-api-token.yaml
  crds/core/monitoring/grafana/github-sso-secred.encrypted.yaml
  crds/core/monitoring/grafana/github-sso-secret.encrypted.yaml
Labels: secrets, ArgoCD

Fix: remove linter errors
  crds/core/external-dns/cloudflare-api-key.encrypted.yaml
  crds/core/monitoring/grafana/github-sso-secret.encrypted.yaml
Labels: secrets, ArgoCD

Fix: last linter error
  crds/core/monitoring/grafana/github-sso-secret.encrypted.yaml
Labels: secrets, ArgoCD

Fix: add api-token
  crds/core/external-dns/cloudflare-api-key.encrypted.yaml
Labels: secrets, ArgoCD

Feat: add github argocd secret sso
  .gitignore
  crds/core/argo-cd/sso-secret.encrypted.yaml
Labels: secrets, ArgoCD

Fix: remove trivy
  applications/security/trivy/namespace.yaml
  applications/security/trivy/trivy-operator.yaml
Labels: ArgoCD

Doc: add how-to use the same private key to the cluster
  README.md
Labels: documentation

Doc: check logs
  README.md
Labels: documentation

Fix: add new secret to fix argocd github integration
  crds/core/argo-cd/sso-secret-encrypted.yaml
  crds/core/argo-cd/sso-secret.encrypted.yaml
Labels: secrets, ArgoCD

Feat: add clientID and clientSecret
  applications/core/argocd/argocd.yaml
  crds/core/argo-cd/sso-secret-encrypted.yaml
  crds/core/argo-cd/sso-secret.encrypted.yaml
Labels: secrets, ArgoCD

Feat: remove kyverno
  applications/security/kyverno/kyverno.yaml
  applications/security/kyverno/namespace.yaml
  crds/core/security/kyverno/policies/mutate/default-labels.yaml
  crds/core/security/kyverno/policies/validation/latest-tag.yaml
  crds/core/security/kyverno/policies/validation/no-default-ns.yaml
Labels: ArgoCD

fix(argocd): secret discoverability
  applications/core/argocd/argocd.yaml
  crds/core/argo-cd/sso-secret.encrypted.yaml
Labels: secrets, ArgoCD

chore(argocd): remove dex to use custom secret
  applications/core/argocd/argocd.yaml
  crds/core/argo-cd/sso-secret.encrypted.yaml
Labels: secrets, ArgoCD

Fix: add the secret encrypted and with label
  crds/core/argo-cd/sso-secret.encrypted.yaml
Labels: secrets, ArgoCD

Fix: remove linter errors
  crds/core/argo-cd/sso-secret.encrypted.yaml
Labels: secrets, ArgoCD

Fix: replace permission manager secret
  .gitignore
  applications/permission-manager/secret.encrypted.yaml
Labels: secrets, ArgoCD

Fix: remove linter errors
  applications/permission-manager/secret.encrypted.yaml
Labels: secrets, ArgoCD

Feat: remove security path
  applications/core/security/security.yaml
Labels: ArgoCD

Feat: add minio chart and its secret
  applications/core/minio/minio.yaml
  crds/core/minio/minio-creds.encrypted.yaml
Labels: secrets, ArgoCD

Fix: remove lint error
  applications/core/minio/minio.yaml
Labels: ArgoCD

Feat: add resource limits and requests
  applications/core/minio/minio.yaml
Labels: ArgoCD

Feat: upgrade chart versoins
  applications/core/cert-manager/cert-manager.yaml
  applications/core/cluster-autoscaler/deployment.yaml
  applications/core/external-dns/external-dns.yaml
  applications/core/traefik/traefik.yaml
Labels: ArgoCD

Feat: add persistence and open minio api
  applications/core/minio/minio.yaml
Labels: ArgoCD

Fix: increase minio memory
  applications/core/minio/minio.yaml
Labels: ArgoCD

feat(minio): add public server url
  applications/core/minio/minio.yaml
Labels: ArgoCD

Feat: add resource limits and requests to cert-manager and external-dns
  applications/core/cert-manager/cert-manager.yaml
  applications/core/external-dns/external-dns.yaml
Labels: ArgoCD

Feat: expose traefik dashboard to the world
  applications/core/traefik/traefik.yaml
Labels: ArgoCD

Feat: add secret and set the right ns
  applications/core/traefik/traefik.yaml
  crds/core/traefik/dashboard-creds.encrypted.yaml
Labels: secrets, ArgoCD

Fix: avoid linter errors
  applications/core/traefik/traefik.yaml
Labels: ArgoCD

Fix: again other approach to fix it
  applications/core/traefik/traefik.yaml
Labels: ArgoCD

fix(lint): block rule
  applications/core/traefik/traefik.yaml
Labels: ArgoCD

Fix: identation error
  applications/core/traefik/traefik.yaml
Labels: ArgoCD
