Repository cloudnativerioja/cluster-applications, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, infrastructure, documentation, golang, secrets, ArgoCD

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

infrastructure:
  - "**/*.tf"

documentation:
  - "**/*.md"

golang:
  - "**/*.go"

secrets:
  - "**/*encrypted.yaml"

ArgoCD:
  - "**/*.yaml"

Feat: move monitoring workloads to a dedicated node
  applications/monitoring/grafana/grafana-operator.yaml
  applications/monitoring/prometheus/kube-prometheus.yaml
Labels: ArgoCD

Feat: add tolerations to argo and autoscaler
  applications/core/argocd/argocd.yaml
  applications/core/cluster-autoscaler/deployment.yaml
Labels: ArgoCD

Feat: upgrade ArgoCD
  applications/core/argocd/argocd.yaml
Labels: ArgoCD

Feat: remove tolerations
  applications/core/argocd/argocd.yaml
  applications/core/cluster-autoscaler/deployment.yaml
  applications/monitoring/grafana/grafana-operator.yaml
  applications/monitoring/prometheus/kube-prometheus.yaml
Labels: ArgoCD

Feat: remove permission-manager
  applications/core/perm-manager/permission-manager.yaml
  applications/permission-manager/ingress.yaml
  applications/permission-manager/kustomization.yaml
  applications/permission-manager/namespace.yaml
  applications/permission-manager/secret.encrypted.yaml
Labels: secrets, ArgoCD

Feat: change argocd tls configuration
  applications/core/argocd/argocd.yaml
Labels: ArgoCD

Feat: remove kyverno and change argo ingress
  applications/core/argocd/argocd.yaml
  applications/core/kyverno/kyverno.yaml
  crds/core/kyverno_policies/default-namespace.yaml
  crds/core/kyverno_policies/disallow-latest-tag.yaml
  crds/core/kyverno_policies/ingress-annotations.yaml
Labels: ArgoCD

Fix: avoid linter errors
  crds/core/kyverno_policies/default-namespace.yaml
Labels: ArgoCD

Fix: avoid more linter errors
  crds/core/kyverno_policies/disallow-latest-tag.yaml
  crds/core/kyverno_policies/ingress-annotations.yaml
Labels: ArgoCD

Fix: avoid more linter errors
  applications/core/argocd/argocd.yaml
Labels: ArgoCD

Feat: use kubescape in PRs
  .github/workflows/lintall.yaml
Labels: ci/cd, ArgoCD

Feat: use critical treshould and fail if there is one of them
  .github/workflows/lintall.yaml
Labels: ci/cd, ArgoCD

Feat: bump codql action
  .github/workflows/lintall.yaml
Labels: ci/cd, ArgoCD

Feat: comment the kubescape compliance in the repository
  .github/workflows/kubescape-scan.yaml
  .github/workflows/lintall.yaml
Labels: ci/cd, ArgoCD

Test: comment kubescape report
  .github/workflows/kubescape-scan.yaml
Labels: ci/cd, ArgoCD

Test: try to comment PR
  .github/workflows/kubescape-scan.yaml
Labels: ci/cd, ArgoCD

Test: remove quotes
  .github/workflows/kubescape-scan.yaml
Labels: ci/cd, ArgoCD

Test: remove ;
  .github/workflows/kubescape-scan.yaml
Labels: ci/cd, ArgoCD

Test: get all from kubescape step
  .github/workflows/kubescape-scan.yaml
Labels: ci/cd, ArgoCD

Fix: remove comment in PR
  .github/workflows/kubescape-scan.yaml
Labels: ci/cd, ArgoCD

Feat: add cilium dashboards to grafana
  crds/core/monitoring/grafana/dashboards/cilium-agent-dashboard.yaml
  crds/core/monitoring/grafana/dashboards/cilium-operator-dashboard.yaml
  crds/core/monitoring/grafana/dashboards/hubble-dashboard.yaml
  crds/core/monitoring/grafana/dashboards/kyverno-dashboard.yaml
Labels: ArgoCD

Fix: add prometheus datasource to cilium dashboards
  crds/core/monitoring/grafana/dashboards/cilium-agent-dashboard.yaml
  crds/core/monitoring/grafana/dashboards/cilium-operator-dashboard.yaml
  crds/core/monitoring/grafana/dashboards/hubble-dashboard.yaml
Labels: ArgoCD
