Repository cloudnativerioja/cluster-applications, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, infrastructure, documentation, golang, secrets, ArgoCD

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

infrastructure:
  - "**/*.tf"

documentation:
  - "**/*.md"

golang:
  - "**/*.go"

secrets:
  - "**/*encrypted.yaml"

ArgoCD:
  - "**/*.yaml"

Fix: move code to files in crds
  applications/core/traefik/traefik.yaml
  crds/core/traefik/dash-ingress.yaml
  crds/core/traefik/dash-service.yaml
  crds/core/traefik/middleware.yaml
Labels: ArgoCD

Fix: remove lint errors
  applications/core/traefik/traefik.yaml
  crds/core/traefik/dash-ingress.yaml
Labels: ArgoCD

Feat: remove trivy dashboard
  crds/core/monitoring/grafana/dashboards/trivy-vulnerabilities-dashboard.yaml
Labels: ArgoCD

Fix: use the right annotation to select it
  crds/core/traefik/dash-service.yaml
Labels: ArgoCD

Feat: add pull request stats
  .github/workflows/pr-labeler.yaml
Labels: ci/cd, ArgoCD

Feat: deploy kyverno and its grafana dashboard
  applications/core/kyverno/kyverno.yaml
Labels: ArgoCD

Fix: remove lint errors and bump kyverno version
  applications/core/kyverno/kyverno.yaml
Labels: ArgoCD

Feat: add scrape configuration to kyverno metrics
  applications/monitoring/prometheus/kube-prometheus.yaml
Labels: ArgoCD

Chore: typo
  applications/monitoring/prometheus/kube-prometheus.yaml
Labels: ArgoCD

Fix: add the right kyverno service name and add internal config
  applications/monitoring/prometheus/kube-prometheus.yaml
Labels: ArgoCD

Feat: add kyverno policies
  applications/core/minio/minio.yaml
  applications/monitoring/prometheus/kube-prometheus.yaml
  crds/core/kyverno_policies/clean-up-rs.yaml
  crds/core/kyverno_policies/default-namespace.yaml
Labels: ArgoCD

Fix: avoid linter errors
  crds/core/kyverno_policies/clean-up-rs.yaml
  crds/core/kyverno_policies/default-namespace.yaml
Labels: ArgoCD

Feat: add argo rollouts
  applications/core/argo-rollouts/argo-rollouts.yaml
  crds/core/minio/minio-creds.encrypted.yaml
Labels: secrets, ArgoCD

Fix: avoid linter error
  applications/core/argo-rollouts/argo-rollouts.yaml
Labels: ArgoCD

Fix: remove line spaces
  applications/core/argo-rollouts/argo-rollouts.yaml
Labels: ArgoCD

Fix: kube-prometheus linter error
  applications/monitoring/prometheus/kube-prometheus.yaml
Labels: ArgoCD

Feat: default namespace enforce policy
  crds/core/kyverno_policies/default-namespace.yaml
Labels: ArgoCD

Feat: add policies, kyverno dashboard and podinfo
  crds/core/kyverno_policies/default-namespace.yaml
  crds/core/kyverno_policies/disallow-latest-tag.yaml
  crds/core/kyverno_policies/ingress-annotations.yaml
  crds/core/monitoring/grafana/dashboards/kyverno-dashboard.yaml
  environments/test/pod-info.yaml
Labels: ArgoCD

Fix: remove grafana dashboard from kyverno
  applications/core/kyverno/kyverno.yaml
Labels: ArgoCD

Fix: avoid linter errors
  crds/core/kyverno_policies/disallow-latest-tag.yaml
  environments/test/pod-info.yaml
Labels: ArgoCD

Feat: add canary rollout to podinfo
  crds/core/argo-rollouts/pod-info/canary-rollout-podinfo.yaml
  crds/core/argo-rollouts/pod-info/podinfo-canary-service.yaml
  crds/core/argo-rollouts/pod-info/traefik-service.yaml
  crds/core/kyverno_policies/clean-up-rs.yaml
  environments/test/pod-info.yaml
Labels: ArgoCD

Fix: remove lint errors
  crds/core/argo-rollouts/pod-info/canary-rollout-podinfo.yaml
  crds/core/argo-rollouts/pod-info/traefik-service.yaml
Labels: ArgoCD

Fix: avoid other linter errors
  crds/core/argo-rollouts/pod-info/canary-rollout-podinfo.yaml
Labels: ArgoCD

Feat: add bluegreen rollout demo
  applications/core/env-test.yaml
  applications/core/monitoring/prometheus-grafana.yaml
  crds/core/argo-rollouts/pod-info/canary-rollout-podinfo.yaml
  crds/core/argo-rollouts/rollout-demo/bluegreen-ingress.yaml
  crds/core/argo-rollouts/rollout-demo/bluegreen-preview-service.yaml
  crds/core/argo-rollouts/rollout-demo/bluegreen-rollout.yaml
  crds/core/argo-rollouts/rollout-demo/bluegreen-service.yaml
  environments/test/pod-info.yaml
Labels: ArgoCD

Fix: identation error
  crds/core/argo-rollouts/rollout-demo/bluegreen-ingress.yaml
Labels: ArgoCD

Feat: deploy resources in test
  crds/core/argo-rollouts/rollout-demo/bluegreen-ingress.yaml
  crds/core/argo-rollouts/rollout-demo/bluegreen-preview-service.yaml
  crds/core/argo-rollouts/rollout-demo/bluegreen-rollout.yaml
  crds/core/argo-rollouts/rollout-demo/bluegreen-service.yaml
Labels: ArgoCD

Update canary-rollout-podinfo.yaml
  crds/core/argo-rollouts/pod-info/canary-rollout-podinfo.yaml
Labels: ArgoCD

Feat: add canary demo too
  crds/core/argo-rollouts/rollout-bluegreen-demo/bluegreen-ingress.yaml
  crds/core/argo-rollouts/rollout-bluegreen-demo/bluegreen-preview-service.yaml
  crds/core/argo-rollouts/rollout-bluegreen-demo/bluegreen-rollout.yaml
  crds/core/argo-rollouts/rollout-bluegreen-demo/bluegreen-service.yaml
  crds/core/argo-rollouts/rollouts-canary-demo/canary-ingress.yaml
  crds/core/argo-rollouts/rollouts-canary-demo/canary-preview-service.yaml
  crds/core/argo-rollouts/rollouts-canary-demo/canary-rollout.yaml
  crds/core/argo-rollouts/rollouts-canary-demo/canary-service.yaml
Labels: ArgoCD

Update canary-rollout.yaml
  crds/core/argo-rollouts/rollouts-canary-demo/canary-rollout.yaml
Labels: ArgoCD

Feat: add kyverno policy to generate cloudflare secret
  crds/core/kyverno_policies/generate-cloudflare-secret.yaml
Labels: ArgoCD

Feat: bump versions and fix kyverno policy
  applications/core/cert-manager/cert-manager.yaml
  applications/core/cluster-autoscaler/deployment.yaml
  applications/core/kyverno/kyverno.yaml
  applications/core/traefik/traefik.yaml
  applications/monitoring/grafana/grafana-operator.yaml
  applications/monitoring/loki/loki.yaml
  applications/monitoring/prometheus/kube-prometheus.yaml
  crds/core/kyverno_policies/generate-cloudflare-secret.yaml
Labels: ArgoCD

Feat: scrape cluster-autoscaler metrics
  applications/core/cluster-autoscaler/deployment.yaml
  applications/core/cluster-autoscaler/service.yaml
  applications/monitoring/prometheus/kube-prometheus.yaml
Labels: ArgoCD

Feat: add oidc workflow client to Dex
  applications/core/argocd/argocd.yaml
  crds/core/kyverno_policies/generate-cloudflare-secret.yaml
Labels: ArgoCD

Feat: remove replicas
  crds/core/argo-rollouts/pod-info/canary-rollout-podinfo.yaml
  crds/core/argo-rollouts/rollout-bluegreen-demo/bluegreen-rollout.yaml
  crds/core/argo-rollouts/rollouts-canary-demo/canary-rollout.yaml
Labels: ArgoCD

Update canary-rollout-podinfo.yaml
  crds/core/argo-rollouts/pod-info/canary-rollout-podinfo.yaml
Labels: ArgoCD

Update canary-rollout.yaml
  crds/core/argo-rollouts/rollouts-canary-demo/canary-rollout.yaml
Labels: ArgoCD

Feat: add autoscaler dashboard to grafana
  crds/core/monitoring/grafana/dashboards/autoscaler-dashboard.yaml
Labels: ArgoCD

Doc: document according the previous manifests
  crds/core/monitoring/grafana/dashboards/autoscaler-dashboard.yaml
Labels: ArgoCD

Feat: deploy argo-workflows in the cluster
  applications/core/argo-workflows/argo-workflows.yaml
  crds/core/argo-workflows/namespace.yaml
Labels: ArgoCD

Feat: bump kyverno chart version
  applications/core/kyverno/kyverno.yaml
Labels: ArgoCD
