Repository cloudnativerioja/cluster-applications, pull requests merged in 2023-09, with the labels that each got.

#53 Feat: add Prometheus and Grafana stack
  .gitignore
  README.md
  applications/monitoring/grafana/dashboards.yaml
  applications/monitoring/grafana/datasources.yaml
  applications/monitoring/grafana/github-sso-secred.encrypted.yaml
  applications/monitoring/grafana/grafana-operator.yaml
  applications/monitoring/namespace.yaml
  applications/monitoring/prometheus/kube-prometheus.yaml
Labels: enhancement

#56 feat(core): add monitoring apps
  applications/core/monitoring/prometheus-grafana.yaml
Labels: enhancement

#57 fix(monitoring): set recursive source
  applications/core/monitoring/prometheus-grafana.yaml
Labels: good first issue

#55 Feat: add metrics server for scaling and scrape metrics
  applications/core/metrics-server/metrics-server.yaml
Labels: enhancement

#58 Fix: raise memory to 1Gi and test its performance
  applications/monitoring/prometheus/kube-prometheus.yaml
Labels: enhancement

#59 Feat: add k3s dashboard
  applications/monitoring/grafana/dashboards/exporter-full-dashboard.yaml
  applications/monitoring/grafana/dashboards/k3s-dashboard.yaml
Labels: enhancement

#63 Feat: add opensearch to the cluster
  applications/monitoring/OpenSearch/opensearch-dashboard.yaml
  applications/monitoring/OpenSearch/opensearch.yaml
Labels: enhancement

#65 Feat: add custom users and remove demo config
  applications/monitoring/OpenSearch/internal-users-secret.encrypted.yaml
  applications/monitoring/OpenSearch/opensearch.yaml
Labels: enhancement

#67 Feat: remove opensearch and install loki with fluentbit
  applications/monitoring/OpenSearch/internal-users-secret.encrypted.yaml
  applications/monitoring/OpenSearch/opensearch-dashboard.yaml
  applications/monitoring/OpenSearch/opensearch.yaml
  applications/monitoring/grafana/dashboards/loki-logs-dashboard.yaml
  applications/monitoring/grafana/datasources.yaml
  applications/monitoring/loki/loki.yaml
Labels: enhancement

#68 Fix: Loki Dashboard
  applications/monitoring/grafana/dashboards/loki-logs-dashboard.yaml
Labels: bug

#74 Fix: disable cleanup jobs
  applications/security/kyverno/kyverno.yaml
Labels: enhancement

#77 Feat: add auto labeler to avoid think in labels
  .github/labeler.yml
  .github/workflows/pr-labeler.yaml
Labels: size/M, ci/cd

#78 Fix: rollback to 1 node minimum in autoscaling pool
  .github/labeler.yml
  applications/core/cluster-autoscaler/deployment.yaml
Labels: size/XS, ArgoCD

#79 Feat: bump argo to the last version
  applications/core/argo-cd/argocd.yaml
Labels: size/XS, ArgoCD

#80 Feat: restructure folders to allow crds join to the party
  crds/core/argo-cd/sso-secret.encrypted.yaml
  crds/core/cert-manager/clusterissuer.yaml
  crds/core/external-dns/cloudflare-api-token.yaml
  crds/core/monitoring/grafana/dashboards/exporter-full-dashboard.yaml
  crds/core/monitoring/grafana/dashboards/k3s-dashboard.yaml
  crds/core/monitoring/grafana/dashboards/loki-logs-dashboard.yaml
  crds/core/monitoring/grafana/dashboards/trivy-vulnerabilities-dashboard.yaml
  crds/core/monitoring/grafana/datasources.yaml
  crds/core/monitoring/grafana/github-sso-secred.encrypted.yaml
  crds/core/security/kyverno/policies/mutate/default-labels.yaml
  crds/core/security/kyverno/policies/validation/latest-tag.yaml
  crds/core/security/kyverno/policies/validation/limits-requests.yaml
  crds/core/security/kyverno/policies/validation/no-default-ns.yaml
Labels: size/XS, ArgoCD, secrets

#81 Fix: remove ingressroute file
  README.md
  applications/core/namespace.yaml
  applications/core/traefik/ingressroute.yaml
Labels: documentation, ArgoCD, size/L

#83 Fix cluster resources, kyverno policy refused the deployments
  applications/core/argo-cd/argocd.yaml
  applications/monitoring/grafana/grafana-operator.yaml
  applications/monitoring/prometheus/kube-prometheus.yaml
  applications/security/trivy/trivy-operator.yaml
  crds/core/security/kyverno/policies/validation/limits-requests.yaml
Labels: ArgoCD, size/L

#84 Feat: add argo to pull himself
  applications/core/argocd/argocd.yaml
Labels: size/M, ArgoCD

#85 Fix: add our own keys and encrypt cloudflare-token
  .github/public-sealed.crt
  crds/core/external-dns/cloudflare-api-token.yaml
Labels: size/M, ArgoCD

#87 Fix: add new secrets encrypted
  .gitignore
  crds/core/external-dns/cloudflare-api-key.encrypted.yaml
  crds/core/external-dns/cloudflare-api-token.yaml
  crds/core/monitoring/grafana/github-sso-secred.encrypted.yaml
  crds/core/monitoring/grafana/github-sso-secret.encrypted.yaml
Labels: size/M, ArgoCD, secrets

#88 Fix: add api-token
  .gitignore
  crds/core/argo-cd/sso-secret.encrypted.yaml
  crds/core/external-dns/cloudflare-api-key.encrypted.yaml
Labels: ArgoCD, secrets, size/S

#89 Fix: remove trivy
  applications/security/trivy/namespace.yaml
  applications/security/trivy/trivy-operator.yaml
Labels: size/M, ArgoCD
