Repository cloudnativerioja/cluster-applications, pull requests merged in 2023-10, with the labels that each got.

#90 Doc: add how-to use the same private key to the cluster
  README.md
Labels: documentation, size/L

#91 Fix: add new secret to fix argocd github integration
  crds/core/argo-cd/sso-secret-encrypted.yaml
  crds/core/argo-cd/sso-secret.encrypted.yaml
Labels: size/M, ArgoCD, secrets

#93 Feat: remove kyverno
  applications/security/kyverno/kyverno.yaml
  applications/security/kyverno/namespace.yaml
  crds/core/security/kyverno/policies/mutate/default-labels.yaml
  crds/core/security/kyverno/policies/validation/latest-tag.yaml
  crds/core/security/kyverno/policies/validation/no-default-ns.yaml
Labels: ArgoCD, size/L

#92 Feat: add clientID and clientSecret
  applications/core/argocd/argocd.yaml
  crds/core/argo-cd/sso-secret-encrypted.yaml
  crds/core/argo-cd/sso-secret.encrypted.yaml
Labels: size/M, ArgoCD, secrets

#94 fix(argocd): secret discoverability
  crds/core/argo-cd/sso-secret.encrypted.yaml
Labels: bug, size/XS, ArgoCD, secrets

#96 Fix: replace permission manager secret
  .gitignore
  applications/core/security/security.yaml
  applications/permission-manager/secret.encrypted.yaml
Labels: size/M, ArgoCD, secrets

#95 Fix: add the secret encrypted and with label
  crds/core/argo-cd/sso-secret.encrypted.yaml
Labels: size/XS, ArgoCD, secrets

#99 Feat: add minio chart and its secret
  applications/core/minio/minio.yaml
  crds/core/minio/minio-creds.encrypted.yaml
Labels: size/M, ArgoCD, secrets

#100 Feat: upgrade chart versoins
  applications/core/cert-manager/cert-manager.yaml
  applications/core/cluster-autoscaler/deployment.yaml
  applications/core/external-dns/external-dns.yaml
  applications/core/traefik/traefik.yaml
Labels: size/XS, ArgoCD

#101 Feat: add persistence and open minio api
  applications/core/minio/minio.yaml
Labels: ArgoCD, size/S

#103 Feat: Add Minio public server url
  applications/core/minio/minio.yaml
Labels: size/XS, ArgoCD

#105 Feat: add resource limits and requests to cert-manager and external-dns
  applications/core/cert-manager/cert-manager.yaml
  applications/core/external-dns/external-dns.yaml
Labels: ArgoCD, size/S

#106 Feature/expose traefik dashboard
  applications/core/traefik/traefik.yaml
  crds/core/traefik/dashboard-creds.encrypted.yaml
Labels: size/M, ArgoCD, secrets

#107 Fix: identation error
  applications/core/traefik/traefik.yaml
Labels: ArgoCD, size/L

#108 Fix: move code to files in crds
  applications/core/traefik/traefik.yaml
  crds/core/traefik/dash-ingress.yaml
  crds/core/traefik/dash-service.yaml
  crds/core/traefik/middleware.yaml
Labels: ArgoCD, size/L

#109 Feat: remove trivy dashboard
  crds/core/monitoring/grafana/dashboards/trivy-vulnerabilities-dashboard.yaml
Labels: ArgoCD, size/S

#112 Fix: use the right annotation to select it
  crds/core/traefik/dash-service.yaml
Labels: size/XS, ArgoCD

#113 Feat: add pull request stats
  .github/workflows/pr-labeler.yaml
Labels: ci/cd, size/XS
